$def with (username)
<div style="padding-top:10px">
  <center><img width=200px src="http://inst.eecs.berkeley.edu/~cs61as/61asheader.png"></center>
  <center>Logged in as: $:username</center><br/>
  <center><a href="/magic?page=/summary" target="_top">Main</a><br/></center>
  <center><a href="/magic?page=/course_admin" target="_top">Administration</a></br> </center>
  <center><a href="/magic?page=/solution" target="_top">Solutions</a></br> </center>
  <center><a href="/magic?page=/complain" target="_top">Complaint form</a></br> </center>
  <center><a href="/magic?page=/grades" target="_top">Grades</a></br></center>
  <center><a href="/magic?page=/reader" target="_top">Reader</a></br> </center>
  <center><a href="/magic?page=/libraryfiles" target="_top">Library Files</a></br></center>
  <center><a href="/magic?page=/lecturefiles" target="_top">Lecture Files</a></br></center>
  <center><A HREF="http://www.piazza.com/class/cs61as" target="_top">Piazza</A></center>
  <center><A HREF="/magic?page=/help"" target="_top">Help</A></center>
  <center><a href="/logout" target="_top">Logout</a></br><br/>
    <!--<a href="http://mitpress.mit.edu/sicp/full-text/book/book.html"><img height="40%" width="200px" src="http://mitpress.mit.edu/sicp/full-text/book/cover.jpg"/></a>-->
    <a href="/magic?page=/book" target="_top"><img height="40%" width="200px" src="http://mitpress.mit.edu/sicp/full-text/book/cover.jpg"/></a>
  </center>
</div>
